@font-face {
    font-family: 'BR Sonoma';
    src: url('../assets/fonts/Sonoma/BRSonoma-Regular-BF654c45266c042.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'BR Sonoma Bold';
    src: url('../assets/fonts/Sonoma/BRSonoma-Bold-BF654c4526823f5.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'BR Sonoma Light';
    src: url('../assets/fonts/Sonoma/BRSonoma-Light-BF654c452608e0f.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato/Lato-Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lato Black';
    src: url('../assets/fonts/Lato/Lato-Black.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

   @font-face {
    font-family: 'Lato Light';
    src: url('../assets/fonts/Lato/Lato-Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }