$primary-color: #1e88e5;
$image-logo: url('../assets/images/logo_rimac.png');
$blur-left: url('../assets/images/blur-left.png');
$blur-right: url('../assets/images/blur-right.png');
$home-seguro-familia-image:url('../assets/images/seguro_familia.png');
$vector_select_image: url('../assets/images/vector_select.svg');
$vector_phone_image: url('../assets/images/vector_phone.svg');
$logo_footer: url('../assets/images/logo_footer.svg');
$logo_rimac_bottom: url('../assets/images/rimac_bottom.svg');
$opcion_parami: url('../assets/images/vector_parami.svg');
$opcion_paraotro: url('../assets/images/vector_paraotro.svg');
$icono_plan_en_casa: url('../assets/images/plan_en_casa.svg');
$icono_plan_casa_clinica: url('../assets/images/plan_casa_clinica.svg');
$icono_plan_en_casa_chequeo: url('../assets/images/plan_en_casa_chequeo.svg');
$icono_resumen_afiliado: url('../assets/images/ic_family.svg');